.interna_produtos{
  background:url('../img/bg-produtos.jpg')no-repeat center;
  background-size: cover;
}
 

.passeio_img{
  background:url('../img/produtos/bikcraft-passeio-1.jpg')no-repeat center;
  background-size: cover;
}